<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.guest.mapper.GuestMapper">
	<!-- ################### resultMap ####################### -->
	<!-- <resultMap id="guestResultMap" type="com.itwill.guest.Guest"> <result 
		column="GUEST_NO" property="guest_no"/> <result column="GUEST_DATE" property="guest_date"/> 
		<result column="GUEST_EMAIL" property="guest_email"/> <result column="GUEST_HOMEPAGE" 
		property="guest_homepage"/> <result column="GUEST_TITLE" property="guest_title"/> 
		<result column="GUEST_CONTENT" property="guest_content"/> </resultMap> -->

	<select id="selectAll" resultType="com.itwill.guest.Guest">
		select * from guest
	</select>

	<select id="selectByNo" resultType="com.itwill.guest.Guest">
		select * from guest
		where
		guest_no=#{guest_no}
	</select>

	<insert id="insertGuest" parameterType="com.itwill.guest.Guest">
		<selectKey order="BEFORE" keyProperty="guest_no"
			resultType="int">
			select GUEST_NO_SEQ.nextval from dual
		</selectKey>
		insert into
		guest(guest_no,guest_name,guest_date,guest_email,guest_homepage,guest_title,guest_content)
		values
		(#{guest_no},#{guest_name},sysdate,#{guest_email},#{guest_homepage},#{guest_title},#{guest_content})
	</insert>

	<update id="updateGuest" parameterType="com.itwill.guest.Guest">
		update guest set guest_name=#{guest_name},guest_date=to_date(#{guest_date},'yyyy/mm/dd'),guest_email=#{guest_email},guest_homepage=#{guest_homepage},guest_title=#{guest_title},guest_content=#{guest_content}
		where guest_no=#{guest_no}
	</update>
	
	<delete id="deleteGuest" parameterType="com.itwill.guest.Guest">
		delete guest where guest_no=#{guest_no}
	</delete>
</mapper>